
#logo{
}

body{
    background-color: #96b5e2;
}


#total-orders{
    background-color: #358694;
}


#orders-delivered{
    background-color: #a47acc;
}

#orders-pending{
    background-color: #e68f3e;
}